<!DOCTYPE html>
<html>
<head>
  <title>Usos auth lib</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "usos_auth_lib/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
